body{
  margin: 0;
  padding: 0;
}
#bottom{
  height: 50px;
  position: absolute;
  top: calc(100% - 50px);
}
#bottom button{
  margin-top: 10px;
}

@media screen and (max-width: 640px){
  #bottom{
    height: 50px;
    position: absolute;
    top: calc(100vh - 100px);
  }
  #bottom button{
    margin-top: 10px;
  }
}